{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% if breadcrumb %}
  <nav class="breadcrumbs" aria-label="breadcrumb">
    <h2 class="sr-only">{{ 'Breadcrumbs'|t }}</h2>
    <ol class="breadcrumb {{ container }}">
      {% for item in breadcrumb %}
        <li {{ item.attributes.setAttribute('aria-current','page') }}>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
